
html {
    text-align: center;
}

.title {
    color: #333333;
    font-size: 40px;
    font-family: Helvetica, Tahoma, sans-serif;
    font-weight: bold;
}

.heading {
    color: #3e593c;
    font-size: 22px;
    font-family: Helvetica, Tahoma, sans-serif;
    font-weight: bold;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}